.App {
  text-align: center;
}

.App-main {
  /* background-color: #636363; */
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
  text-align: left;
  padding-bottom: 5%;
  /* font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif; */
  color: #666666
}

ul {
  padding-left: 20px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.App-main {
  padding-left: 10%;
  padding-right: 10%;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
.App-main {
  padding-left: 10%;
  padding-right: 10%;
}
}