.App {
  text-align: center;
}

.App-main {
  /* background-color: #636363; */
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
  text-align: left;
  padding-bottom: 5%;
  /* font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif; */
  /* color: grey */
  color: #666666
}
